<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopEase</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="Shopease_logo.png" type="image/icon type">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="nav-logo border">
                <div class="logo" ></div>
            </div>
            <div class="nav-address border">
               
                <div class="add-icon">
                    
                    
                </div>
            </div>
            <div>
                <div class="search-box">
                    <select class="select">
                        <option>All</option>
                    </select>
                    
                    <input class="form"  type="search" placeholder="Search ShopEase" >
                
                    <div class="magnify"><i class="fa-solid fa-magnifying-glass"></i></div>
                </div>
            </div>
            <div class="language border">
                <div class="flag-usa"><i class="fa-solid fa-flag-usa"></i></div>
                <select class="select-lang">
                    <option>EN</option>
                </select>
            </div>
            <div class="user-portion border">
                <a id="sign_in">Hello, sign in</a>
                <select class="account">
                    <option>Account & Lists</option>
                </select>
            </div>
            <div class="nav-return border">
                <p id="return">Returns</p>
                <p id="order">& Orders</p>
            </div>
            <div class="cart border">
                <i class="fa-solid fa-cart-plus cart_big"></i>
                <p class="cart_likha">Cart</p>
            </div>
        </div>

        <div class="panel ">
            <div class="panel-all ">
                <i class="fa-solid fa-bars"></i>
                <p id="all-panel">All</p>
            </div>
            <div class="other-panel ">
                <p>Today's Deals</p>
                <p>Customer Service</p>
                <p>Registry</p>
                <p>Gift Cards</p>
                <p>Sell</p>
            </div>
            <div class="shop-electron">
                Shop deals in Electronics
            </div>
        </div>
    </header>
    <div class="hero-image">
    </div>
        <div class="shop-section">
        <div class="box-1 box">
            <h2>Clothing</h2>
            <div class="image-contains1"></div>
            <p class="price">See More</p>
        </div>
        <div class="box-2 box">
            <h2>Personal Care Accessories</h2>
            <div class="image-contains2"></div>
            <p class="price">See More</p>
        </div>
        <div class="box-3 box">
            <h2>Ornamentations</h2>
            <div class="image-contains3"></div>
            <p class="price">See More</p>
        </div>
        <div class="box-4 box">
            <h2>Amazon Gadget Store</h2>
            <div class="image-contains4"></div>
            <p class="price">See More</p>
        </div>
        <div class="box-5 box">
            <h2>Beauty & Personal Care</h2>
            <div class="image-contains5"></div>
            <p class="price">See More</p>
        </div>
        <div class="box-6 box">
            <h2>Pet Accessories</h2>
            <div class="image-contains6"></div>
            <p class="price">See More</p>
        </div>
        <div class="box-7 box">
            <h2>Tour & Trpis</h2>
            <div class="image-contains7"></div>
            <p class="price">See More</p>
        </div>
        <div class="box-8 box">
            <h2>Women Clothing</h2>
            <div class="image-contains8"></div>
            <p class="price">See More</p>
        </div>
    </div>
     <footer>
        <div class="foot-panel1">
            Back to Top
        </div>
        <div class="foot-panel2">
            <ul>
                <p class="foot-pera">Get to Know Us</p>
                    
                        <a >Careers</a>
                        <a >Blog</a>
                        <a >About Amazon</a>
                        <a >Investor Relations</a>
                        <a >Amazon Devices</a>
                        <a >Amazon Science</a>
                    
            </ul>
            <ul>
                <p class="foot-pera">Get to Know Us</p>
                    
                        <a >Careers</a>
                        <a >Blog</a>
                        <a >About Amazon</a>
                        <a >Investor Relations</a>
                        <a >Amazon Devices</a>
                        <a >Amazon Science</a>
                    
            </ul>
            <ul>
                <p class="foot-pera">Get to Know Us</p>
                    
                        <a >Careers</a>
                        <a >Blog</a>
                        <a >About Amazon</a>
                        <a >Investor Relations</a>
                        <a >Amazon Devices</a>
                        <a >Amazon Science</a>
                    
            </ul>
            <ul>
                <p class="foot-pera">Get to Know Us</p>
                    
                        <a >Careers</a>
                        <a >Blog</a>
                        <a >About Amazon</a>
                        <a >Investor Relations</a>
                        <a >Amazon Devices</a>
                        <a >Amazon Science</a>
                    
            </ul>
        </div>
        <div class="foot-panel3">
            <div class="logo_foot">
            </div>
        </div>
        <div class="foot-panel5">
            
           
            <p class="extra-2p5">©ShopEase.com, Inc. or its affiliates</p>
        </div>
     </footer>   
</body>
</html>